<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="login.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@300&family=Poppins&family=Roboto&display=swap" rel="stylesheet">
  <title>Sign in</title>
</head>
    <form action="/login" method="post">
        <div class="signin">
            <h2>Sign In</h2>
        </div>
        <div class="username">
            <input type="text" name="username" placeholder="username">
        </div>
        <div class="password">
            <input type="text" name="password" placeholder="password">
        </div>
        <button type="submit">Submit</button>
    </form>
<body>
  <main>