<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/homePage.css">
  
  <title>homePage</title>
</head>
    <div class="conversational-interface">
        <div class="header">
            <Header>yhi naam hai mere app ka</Header>
        </div>
        
            <a class="home" href=""><img class="side-bar-icon" src="images/home.png" alt=""></a>
            <a class="calls" href=""><img class="side-bar-icon" src="images/calls.png" alt=""></a>
            <a class="settings" href=""><img class="side-bar-icon" src="images/setting.png" alt=""></a>
            <a class="stared" href=""><img class="side-bar-icon" src="images/stared.png" alt=""></a>
            <a class="user" href=""><img class="side-bar-icon" src="images/user.png" alt=""></a>
        
        <div class="chats">
            <div class="person">
                <a href=""><img class="person-profile" src="images/user.png" alt=""></a>
                <a href=""><h3>person 1</h3></a>
            </div>
            <div class="person">
                <a href=""><img class="person-profile" src="images/user.png" alt=""></a>
                <a href=""><h3>person 1</h3></a>
            </div>
            <div class="person">
                <a href=""><img class="person-profile" src="images/user.png" alt=""></a>
                <a href=""><h3>person 1</h3></a>
            </div>
            <div class="person">
                <a href=""><img class="person-profile" src="images/user.png" alt=""></a>
                <a href=""><h3>person 1</h3></a>
            </div>
            <div class="person">
                <a href=""><img class="person-profile" src="images/user.png" alt=""></a>
                <a href=""><h3>person 1</h3></a>
            </div>
            <div class="person">
                <a href=""><img class="person-profile" src="images/user.png" alt=""></a>
                <a href=""><h3>person 1</h3></a>
            </div>
            <div class="person">
                <a href=""><img class="person-profile" src="images/user.png" alt=""></a>
                <a href=""><h3>person 1</h3></a>
            </div>
            <div class="person">
                <a href=""><img class="person-profile" src="images/user.png" alt=""></a>
                <a href=""><h3>person 1</h3></a>
            </div>
            <div class="person">
                <a href=""><img class="person-profile" src="images/user.png" alt=""></a>
                <a href=""><h3>person 1</h3></a>
            </div>
            <div class="person">
                <a href=""><img class="person-profile" src="images/user.png" alt=""></a>
                <a href=""><h3>person 1</h3></a>
            </div>
            <div class="person">
                <a href=""><img class="person-profile" src="images/user.png" alt=""></a>
                <a href=""><h3>person 1</h3></a>
            </div>
            <div class="conversation">
                
            </div>
        </div>
    </div>
<body>
  <main>